body {
	padding: 2% 8%;
}

h1 {
	padding-bottom: 2%;	
}

hr {
	border-top: 1px solid #8c8b8b;
}
span {
	color: purple;
	font-weight: bold;
	font-size: 1.5em;
}

#eventButton {
	margin-bottom: 5%;
}

#hiddenParagraph, #showCaps, #showArray, #showTorF {
	padding: 3%;
	visibility: hidden;
}

.pali {
	padding: 3%;
	display: none;
	font-size: 1.3em;
	font-weight: bold;
}
#palindromeMsg0 {
	color: orange;
}
#palindromeMsg1 {
	color: green;
}
#palindromeMsg2 {
	color: red;
}
#reverseAdded {
	padding-top: 1%;
	font-weight: bold;
	color: green;
	font-size: 1.7em;
}
